{%extends "navbar.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report view</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\w3.css">
    
    
</head>
<body>
    <img src="../static/images/rep.jpg" style="background-repeat: no-repeat;background-size: cover;width:100%;padding-top:5px">
   <footer class="w3-container w3-orange w3-padding-16 " style="width:100%">
       <a class="w3-button w3-black w3-padding-large w3-margin-bottom" href="contact">contact</a>
       <a class="w3-button w3-black w3-padding-large w3-margin-bottom" href="report">Reports</a>
   </footer>   
</body>
</html>
{%endblock%}